<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="description" content="Yellow Platform">
        <meta name="author" content="Camilo Forero">
        <title>{% block title %}untitled{% endblock %} - Yellow Platform</title>
        <link rel="icon" href="/static/favicon.png" type="image/png" />
        <link rel="stylesheet" href="{% static "gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "gentelella/vendors/font-awesome/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" %}"></link>
        <link rel="stylesheet" href="{% static "gentelella/build/css/custom.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css"%}"/>
    </head>

    <body class="{% block body-class %} emptyBody {% endblock %}">
    {% block base_body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static "gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% static "gentelella/build/js/custom.min.js" %}"></script>
    {% block scripts%}
    {% endblock %}
    </body>
</html>
