<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="description" content="Yellow Platform">
        <meta name="author" content="Camilo Forero">
        <title>{% block title %}untitled{% endblock %} - Yellow Platform</title>
        <link rel="icon" href="/static/favicon.png" type="image/png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="{% static "css/style.css"%}"/>
        {% if request.user.username == 'JU' %}
        <style>
        body {
            font-family: "Comic Sans Ms", "nexa", Verdana, sans-serif !important;
        }
        </style>
        {% endif %}
    </head>

    <body class="{% block body-class %} emptyBody {% endblock %}">
    {% block base_body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block scripts%}
    {% endblock %}
    </body>
</html>
