{% extends 'yellowPlatform/base_wide.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block page-header %}{% endblock %}
{% block body-class %}{% endblock %}
{% block body %}

{% for lc in lcs %}
<h1>{{lc.name}}</h1>
<table class="table table-responsive table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Teléfono</th>
            <th>Facebook</th>
            <th>Correo 1</th>
            <th>Correo 2</th>
        </tr>
    </thead>
    <tbody>
    {% for cargo in lc.members.all %}
        <tr>
            <td><a href="https://experience.aiesec.org/#/people/{{cargo.expaID}}">{{cargo.name}}</a></td>
            <td>{{cargo.role}}</td>
            <td>{{cargo.phone}}</td>
            <td>{{cargo.facebook}}</td>
            <td>{{cargo.email}}</td>
            <td>{{cargo.alt_email}}</td>
        </tr>
    {% endfor %}                
    </tbody>
</table>
{% endfor %}
{% endblock %}
{% block scripts %}{% endblock %}
