{% extends 'yellowPlatform/base_wide.html' %}
{% load staticfiles %}

{% block title %}Scoreboard {{program|upper}}: AIESEC {{office_name}}{% endblock %}
{% block page-header %}Scoreboard {{program|upper}}: AIESEC {{office_name}}{% endblock %}
{% block body-class %}{% endblock %}
{% block body %}
<div class="col-md-6 col-sm-12">
<div class="x_panel">
    {% for metric, values in rankings.items %}
    <h2>{{metric|title}}</h2>
    {% for ranking, value in values %}
    <div class="col-sm-4 col-xs-12">
        <div class="well text-center">
            <h4>{{ranking|title}}</h4>
            <a href="{% url 'analytics:ranking' office_name=office_name programa=program ranking=ranking metric=metric%}">
            <button type="button" class="btn btn-warning btn-circle btn-xl pull-center">
                <span>{{value}}</span>
            </button>
            </a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
</div>
<div class="col-md-3 col-xs-12 widget widget_tally_box">
<div class="x_panel">
          <div class="x_title">
            <h2>Rendimiento</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div style="text-align: center; margin-bottom: 17px">
                <h3 class="name">Realizaciones</h3>
              <span class="chart" data-percent="{% widthratio achieved.realized planned.realized 100 %}">
                                  <span class="percent">{% widthratio achieved.realized planned.realized 100 %}</span>
              <canvas height="110" width="110"></canvas></span>
            </div>
            <div class="pie_bg" style="text-align: center; display: none; margin-bottom: 17px">
              <canvas id="canvas_doughnut" height="130"></canvas>
            </div>
            <div class="flex">
              <ul class="list-inline count2">
                <li>
                  <h3>{{planned.realized}}</h3>
                  <span>Planeados</span>
                </li>
                <li>
                  <h3>{{achieved.realized}}</h3>
                  <span>Ejecutados</span>
                </li>
              </ul>
            </div>

            <div style="text-align: center; margin-bottom: 17px">
                <h3 class="name">Approved</h3>
              <span class="chart" data-percent="{% widthratio achieved.approved planned.approved 100 %}">
                                  <span class="percent">{% widthratio achieved.approved planned.approved 100 %}</span>
              <canvas height="110" width="110"></canvas></span>
            </div>
            <div class="pie_bg" style="text-align: center; display: none; margin-bottom: 17px">
              <canvas id="canvas_doughnut" height="130"></canvas>
            </div>

            <div class="flex">
              <ul class="list-inline count2">
                <li>
                  <h3>{{planned.approved}}</h3>
                  <span>Planeados</span>
                </li>
                <li>
                  <h3>{{achieved.approved}}</h3>
                  <span>Ejecutados</span>
                </li>
              </ul>
            </div>

          </div>
        </div>
    </div>

<div class="col-md-3 col-sm-6">
    <div class="x_panel">
          <h2 class="line_30">Últimos 7 días</h2>
          <table class="countries_list">
            <tbody>
              <tr>
                <td>Applications</td>
                <td class="fs15 fw700 text-right">{{achieved_past_week.applications}}</td>
              </tr>
              <tr>
                <td>Accepted</td>
                <td class="fs15 fw700 text-right">{{achieved_past_week.accepted}}</td>
              </tr>
              <tr>
                <td>Approved</td>
                <td class="fs15 fw700 text-right">{{achieved_past_week.approved}}</td>
              </tr>
              <tr>
                <td>Realized</td>
                <td class="fs15 fw700 text-right">{{achieved_past_week.realized}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <div class="row x_title">
            <h3>Rendimiento <small>Realizaciones</small></h3>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-9">
          <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
          <div style="width: 100%;">
            <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height: 270px; padding: 0px; position: relative;"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="sidebar-widget">
                <h4>Realizaciones (mes actual)</h4>
                <canvas width="150" height="80" id="month_realized_gauge" class="" style="width: 160px; height: 100px;"></canvas>
                <div class="goal-wrapper">
                  <span id="month_realized_text" class="gauge-value pull-left">0</span>
                  <span id="goal-text" class="goal-value pull-right">{{current_month.planned.realized}}</span>
                </div>
            </div>
        </div>
        

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <div class="row x_title">
            <h3>Rendimiento <small>Approved</small></h3>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-9">
          <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
          <div style="width: 100%;">
            <div id="flot_approved" class="demo-placeholder" style="width: 100%; height: 270px; padding: 0px; position: relative;"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="sidebar-widget">
                <h4>Approved</h4> (mes actual)</h4>
                <canvas width="150" height="80" id="month_approved_gauge" class="" style="width: 160px; height: 100px;"></canvas>
                <div class="goal-wrapper">
                  <span id="month_approved_text" class="gauge-value pull-left">0</span>
                  <span id="goal-text" class="goal-value pull-right">{{current_month.planned.approved}}</span>
                </div>
            </div>
        </div>
        

        <div class="clearfix"></div>
      </div>
    </div>

<div class="col-md-6 col-sm-12">
<div class="x_panel">
{% if uncontacted %}
<h4>EPs sin contactar: {{uncontacted}}. <a href="https://experience.aiesec.org/#/people?registered%5Bfrom%5D=2016-01-01&contacted=false&home_committee={{officeID}}">Ver en EXPA</a></h4>
<h4><a href="http://platform.aiesecandes.org/app/tools/{{office_name}}/application_count/">Ver número de aplicaciones a oportunidades por EP durante la semana pasada</a></h4>
{% endif %}
{% if weekRegisteredAnalytics %}
    <div class="col-md-6 col-sm-12">
    <h3>Conversión registrados-contactados durante la semana</h3>
    <table class="table table-responsive table-striped table-hover">
        <tr>
           <td>Registrados</td>
           <td>{{weekRegisteredAnalytics.total}}</td>
        </tr> 
        <tr>
           <td>Contactados</td>
           <td>{{weekRegisteredAnalytics.nContacted}}</td>
        </tr> 
        <tr>
           <td>Porcentaje</td>
           <td>{{weekRegisteredAnalytics.rate}}%</td>
        </tr> 
        <tr>
           <td>Gap</td>
           <td>{{weekRegisteredAnalytics.gap}}</td>
        </tr> 
    </table>
    </div>
{% endif %}
{% if weekContactedAnalytics %}
    <div class="col-md-6 col-sm-12">
    <h3>Conversión contactados-entrevistados durante la semana</h3>
    <table class="table table-responsive table-striped table-hover">
        <tr>
           <td>Contactados</td>
           <td>{{weekContactedAnalytics.total}}</td>
        </tr> 
        <tr>
           <td>Entrevistados</td>
           <td>{{weekContactedAnalytics.nContacted}}</td>
        </tr> 
        <tr>
           <td>Porcentaje</td>
           <td>{{weekContactedAnalytics.rate}}%</td>
        </tr> 
        <tr>
           <td>Gap</td>
           <td>{{weekContactedAnalytics.gap}}</td>
        </tr> 
    </table>
    </div>
{% endif %}
</div>
</div>


</div>

{% endblock %}
{% block scripts %}
<script src="{% static "gentelella/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"%}"></script>
<!-- Flot -->
<script src="{% static "gentelella/vendors/Flot/jquery.flot.js" %}"></script>
<script src="{% static "gentelella/vendors/Flot/jquery.flot.pie.js" %}"></script>
<script src="{% static "gentelella/vendors/Flot/jquery.flot.time.js" %}"></script>
<script src="{% static "gentelella/vendors/Flot/jquery.flot.stack.js" %}"></script>
<script src="{% static "gentelella/vendors/Flot/jquery.flot.resize.js" %}"></script>
<!-- Flot plugins -->
<script src="{% static "gentelella/production/js/flot/jquery.flot.orderBars.js" %}"></script>
<script src="{% static "gentelella/production/js/flot/jquery.flot.spline.js" %}"></script>
<script src="{% static "gentelella/production/js/flot/curvedLines.js" %}"></script>

<!-- gauge.js -->
<script src="{% static "gentelella/vendors/gauge.js/dist/gauge.min.js" %}"></script>
<script>
      $(function() {
        $('.chart').easyPieChart({
          easing: 'easeOutElastic',
          delay: 3000,
          barColor: '#26B99A',
          trackColor: '#fff',
          scaleColor: false,
          lineWidth: 20,
          trackWidth: 16,
          lineCap: 'butt',
          onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent));
          }
        });
      });
</script>
<!-- Flot. Para los gráficos de desempeño en matches y realizes -->
    <script>
      $(document).ready(function() {
        var achieved_realized = [
        {% for goal in achieved_monthly %}
          [gd(2016, {{goal.month}}), {{goal.realized}}],
        {% endfor %}
        ];

        var planned_realized = [
        {% for goal in planned_monthly %}
          [gd({{goal.year}}, {{goal.month}}), {{goal.realized}}],
        {% endfor %}
        ];

        var achieved_approved = [
        {% for goal in achieved_monthly %}
          [gd(2016, {{goal.month}}), {{goal.approved}}],
        {% endfor %}
        ];

        var planned_approved = [
        {% for goal in planned_monthly %}
          [gd({{goal.year}}, {{goal.month}}), {{goal.approved}}],
        {% endfor %}
        ];

        var flot_graph_settings = {
          series: {
            lines: {
              show: false,
              fill: true
            },
            splines: {
              show: true,
              tension: 0.4,
              lineWidth: 1,
              fill: 0.4
            },
            points: {
              radius: 0,
              show: true
            },
            shadowSize: 2
          },
          grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'
          },
          colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
          xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",
            tickSize: [1, "month"],
            //tickLength: 10,
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
          },
          yaxis: {
            ticks: 8,
            tickColor: "rgba(51, 51, 51, 0.06)",
          },
          tooltip: false
        };

        $("#canvas_dahs").length && $.plot(
            $("#canvas_dahs"), 
            [achieved_realized, planned_realized],
            flot_graph_settings
        );

        $("#flot_approved").length && $.plot(
            $("#flot_approved"),
            [achieved_approved, planned_approved],
            flot_graph_settings
        );

        function gd(year, month) {
          return new Date(year, month - 1, 1).getTime();
        }
      });
    </script>
<!-- /Flot -->
<!-- gauge.js -->
    <script>
      var opts = {
        lines: 12,
        angle: 0,
        lineWidth: 0.4,
        pointer: {
          length: 0.75,
          strokeWidth: 0.042,
          color: '#1D212A'
        },
        limitMax: 'false',
        colorStart: '#1ABC9C',
        colorStop: '#1ABC9C',
        strokeColor: '#F0F3F3',
        generateGradient: true
      };
      //Para las realizaciones
      var target = document.getElementById('month_realized_gauge'),
          realized_gauge = new Gauge(target).setOptions(opts);

      realized_gauge.maxValue = {{current_month.planned.realized}};
      realized_gauge.animationSpeed = 32;
      realized_gauge.set(1);
      realized_gauge.set({{current_month.achieved.realized}});
      realized_gauge.setTextField(document.getElementById("month_realized_text"));
      //Para los approved
      var target = document.getElementById('month_approved_gauge'),
          approved_gauge = new Gauge(target).setOptions(opts);

      approved_gauge.maxValue = {{current_month.planned.approved}};
      approved_gauge.animationSpeed = 32;
      approved_gauge.set(1);
      approved_gauge.set({{current_month.achieved.approved}});
      approved_gauge.setTextField(document.getElementById("month_approved_text"));
    </script>


{% endblock %}
