{% extends 'yellowPlatform/base.html' %}
{% load customTags %}
{% load staticfiles %}

{% block title %}Ranking LATAM {{programa|upper}}{% endblock %}
{% block page-header %}Ranking LATAM {{programa|upper}}{% endblock %}
{% block body-class %}{% endblock %}
{% block body %}
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>LC</th>
            <th>MC</th>
            <th>Desempeño (realizaciones)</th>
            <td>Desempeño (matches)</td>
        </tr>
    </thead>
    <tbody>
        {% for lc in lcs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{lc.nombre}}</td>
            <td>{{lc.mc.nombre}}</td>
            {% with programa|add:'RE' as realize %}
            <td>{{lc|getattribute:realize}}</td>
            {% endwith %}
            {% with programa|add:'MA' as match %}
            <td>{{lc|getattribute:match}}</td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block scripts %}{% endblock %}
