{% extends 'yellowPlatform/base.html' %}
{% load staticfiles %}

{% block title %}Resultados de las votaciones{% endblock %}
{% block page-header %}Resultados de las votaciones{% endblock %}
{% block body-class %}{% endblock %}
{% block body %}
<table class="table table-responsive">
<thead>
<tr>
    <th>Votante</th>
    <th>Número de votos a mociones</th>
    <th>Número de votos a candidatos</th>
</tr>
</thead>
<tbody>
{% for votante in votantes %}
<tr>
    <td>{{votante.codigo}}</td>
    <td>{{votante.num_votos}}</td>
    <td>{{votante.num_votos_candidatos}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
{% block scripts %}{% endblock %}
